body{
  margin: 0%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url(magicpattern-starry-night-1711472875032.png);
  overflow: hidden;
}



